<div class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="site-name my-0 mr-md-auto font-weight-normal">
    <a href="#" target="_self">Bootz</a>
  </h5>
  <nav class="menu my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLinkActive="active" routerLink="statistics">Statistics</a>
  </nav>
</div>
