<!--cornflowerblue, darkgray, lightgreen-->
<div class="card">
  <div class="card-body">
    <i *ngIf="icon" class="{{icon}} float-right"></i>

    <h6 class="text-uppercase mt-0">{{ title | uppercase }}</h6>
    <h2 class="card-value my-2">{{value}}</h2>
    <p class="text text-muted5 mb-0">
      <span class="text-nowrap">{{ text | lowercase }}</span>
    </p>
  </div>
</div>
