<!-- Statistics -->
<div class="row mb-5">
  <div class="col-lg-4 col-xl-4">
    <info-card title="Orders"
               text="Number of orders"
               [value]="data.orders"
               icon="icon-credit-card">
    </info-card>
  </div>

  <div class="col-lg-4 col-xl-4">
    <info-card title="Customers"
               text="new customers"
               [value]="data.customers"
               icon="icon-user">

    </info-card>
  </div>

  <div class="col-lg-4 col-xl-4">
    <info-card title="Revenue"
               text="income from orders"
               [value]="data.revenue"
               icon="icon-eur">
    </info-card>
  </div>
</div>

<!-- Form -->
<div class="row pt-5 pb-5">
  <div *ngIf="errorMessage && errorMessage.length" class="col-12 error-message mb-3">{{errorMessage}}</div>

  <div class="d-flex justify-content-center align-items-center container">
    <form class="form-inline">
      <div class="form-group d-flex flex-column mx-sm-3 mb-2 ">
        <label for="fromDate">From</label>
        <input type="date"
               class="form-control"
               id="fromDate"
               placeholder="From"
               [(ngModel)]="from"
               [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group d-flex flex-column mx-sm-3 mb-2 ">
        <label for="untilDate">Until</label>
        <input type="date"
               class="form-control"
               id="untilDate"
               placeholder="Until"
               [(ngModel)]="until"
               [ngModelOptions]="{standalone: true}">
      </div>

      <button (click)="submit()" type="submit" class="btn btn-primary mb-2" style="margin-top: 25px;">Submit</button>
    </form>
  </div>
</div>

<app-chart *ngIf="showGraph" [data]="data.graph" [update]="updateGraphValue"></app-chart>
<!-- HighCharts -->
<div class="row">
  <div class="col-12">
    <div id="container"></div>
  </div>
</div>
